.texto {
  /* text-shadow: 2px 3px 10px #000; */
  /* posicion horizontal de la sombra,
  posicion vertical, y tamaño, entre menor valor mas solida sera, y por ultimo el color */
  color: #fff;
  text-shadow: 2px 0px 10px blue;
}

.caja {
  width: 200px;
  height: 200px;
  background: #f79256;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}